# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=compras_db_qa
DB_USER=compras_app_qa
DB_PASSWORD=QAPass2026

# Puerto del servidor
API_PORT=3001

# URL del frontend (para CORS y emails)
FRONTEND_URL=http://localhost:3000

# Rate limiting
RATE_LIMIT_RPM=60

# Azure AD (SharePoint integration)
AZURE_TENANT_ID=d6d5fec3-991b-462a-af0d-4b24ca6a4c11
AZURE_CLIENT_ID=2784d1dd-ec70-4400-866d-2939b6aee928
AZURE_CLIENT_SECRET=03509cab-c589-4337-b239-ab81f688043d

# SMTP (notificaciones por email)
# SMTP_HOST=smtp.office365.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=IIBservices2@investinbogota.org
# SMTP_PASS=J^552485707098at
